.left {
  float: left;
  width: 50%;
}

.right {
  float: right;
  width: 48%;
  margin-left: 20px;
}

.aboutRight {
  float: right;
  width: 48%;
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 20px;
  background: #E8E8E8;
}

.aboutLeft {
  float: left;
  width: 50%;
  margin-top: 5px;
  margin-bottom: 5px;
  background: #E8E8E8;
}

.booking {
  float: right;
  width: 48%;
  margin-left: 4px;
}

.spacing {
  line-height: 2;
  font-size: 20px;
}

.bold {
  font-weight: bold;
}

.heading {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  margin-left: 20px;
}

.headingLight {
  font-family: 'Helvetica', 'Arial', sans-serif;
  font-size: 26px;
  font-weight: bold;
  text-align: left;
  text-decoration: underline;
  color: #FFFFFF;
  margin-left: 20px;
}

input[type=text], input[type=date], select, textarea {
    width: 75%;
    padding: 6px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-top: 6px;
    margin-bottom: 10px;
    display: inline-block;
}

input[type=radio] {
  margin-bottom: 6px;
  margin-right: 6px;
  margin-left: 6px;
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

input#contact[type=text], textarea#contact {
    width: 75%;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 1px;
    margin-top: 6px;
    margin-bottom: 10px;
    display: inline-block;
}

#map {
  height: 500px;
  width: 50%;
}

.bg-primary {
  background: #00a8f3 !important;
}

.logo {
  width: 8%;
}

.card-title {
  text-decoration: underline;
  font-size: 24px;
  font-weight: bold;
}

.lead {
  color: #000000;
}

.card-img-top {
  height: 250px;
}

.card-text {
  font-size: 18px;
  margin-top: 20px;
}
